.prices-and-info {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
  }
  
  
  .prices {
    min-height: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
  }

  .prices>h2{
    color: #007bff;
    font-weight: bold;
  }
  
  .price-item h3 {
    font-size: 20px;
    color: #007bff;
    font-weight: normal;
  }
  
  .price-item p {
    font-size: 16px;
    margin: 8px 0;
  }
  
  .safety-info{
    max-width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .safety-info h2 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .safety-info p {
    font-size: 16px;
    margin-bottom: 20px;
  }

.price-header{
    color: #007bff;
    font-size: 25px;
    margin-bottom: 20px;
}